*{ margin:0; padding:0}
.scrollSlider {min-height:100px;max-height:1000px;position:relative; background-color: #eee;user-select:none;-webkit-user-select:none;}
.scrollSlider:before {content: "loading"; font-style: italic;font-size:12px;line-height: 30px;text-align: center;color: #aaa;position: absolute;width: 80px;height: 30px; left:50%;top:50%; margin: -15px 0 0 -40px;animation: loading 1s infinite alternate;-webkit-animation: loading 1s infinite alternate;}
@keyframes loading{
	0%{content: "loading";margin-left:-40px;}
	33%{content: "loading.";margin-left:-42px;}
	66%{content: "loading..";margin-left:-44px;}
	100%{content: "loading...";margin-left:-46px;}
}
@-webkit-keyframes loading{
	0%{content: "loading";margin-left:-40px;}
	33%{content: "loading.";margin-left:-42px;}
	66%{content: "loading..";margin-left:-44px;}
	100%{content: "loading...";margin-left:-46px;}
}
.scrollSlider-container { overflow:hidden;height:100%;position:relative;z-index:10;opacity: 0;transition: opacity 1000ms;-webkit-overflow-scrolling : touch;}
.scrollSlider-wrapper {margin: 0; padding: 0;letter-spacing: -5px;}
.scrollSlider-slide {vertical-align: top;letter-spacing: 0;}
.scrollSlider-slide img {user-select:none;-webkit-user-select:none;}
.scrollSlider-controls {position: absolute;z-index: 100; right: 10px;bottom:10px; text-align:center;}
.scrollSlider-prev { display: inline-block; padding: 10px 20px;border: 1px #ddd solid;user-select:none;-webkit-user-select:none;background-color: #fff; background-image: url(image/prev.png);background-repeat: no-repeat;background-position: center;cursor: default;}
.scrollSlider-next { display: inline-block; padding: 10px 20px;border: 1px #ddd solid;user-select:none;-webkit-user-select:none;background-color: #fff;background-image: url(image/next.png);background-repeat: no-repeat;background-position: center;cursor: default;}
.scrollSlider-horizontal .scrollSlider-wrapper{white-space: nowrap;display: inline-block;height: 100%;}
.scrollSlider-horizontal .scrollSlider-slide{display: inline-block; vertical-align: top;height: 100%;}
.scrollSlider-horizontal .scrollSlider-slide img,.scrollSlider-horizontal .scrollSlider-slide video{height: 100%;}
.scrollSlider-vertical .scrollSlider-wrapper{width: 100%;display: block;}
.scrollSlider-vertical .scrollSlider-slide{display: block; }
.scrollSlider-vertical .scrollSlider-slide img,.scrollSlider-vertical .scrollSlider-slide video{width: 100%;}

.scrollSlider-drag{cursor: move;cursor: -webkit-grab;cursor: grab;}
.scrollSlider-drag img{/*pointer-events: none;*/}
.scrollSlider-initialized:before{display: none;}
.scrollSlider-initialized .scrollSlider-container{opacity: 1;}

@media (max-width:1024px){
	.scrollSlider-horizontal .scrollSlider-container {overflow-x:auto;}
	.scrollSlider-vertical .scrollSlider-container {overflow-y:auto;}
}

